<div class="card-container" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center">
    <mat-card class="student-card" *ngFor="let leave of leaves">
      <mat-card-header class="card-header">
        <mat-card-title><strong>{{leave.studentName}}</strong></mat-card-title>
        <mat-card-subtitle>Class: <strong>{{leave.studentclass}}</strong></mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content class="student-details">
        <p><strong>Subject:</strong> {{leave.subject}}</p>
        <p><strong>Body:</strong> {{leave.body}}</p>
        <p><strong>Date:</strong> {{leave.date | date:'MMM d, y'}}</p>
        <p>
          <strong>Status:</strong>
          <span class="leave-status" [ngClass]="{
            'approved': leave.studentLeaveStatus === 'APPROVED',
            'disapproved': leave.studentLeaveStatus === 'DISAPPROVED',
            'pending': leave.studentLeaveStatus === 'PENDING'
          }">{{leave.studentLeaveStatus}}</span>
        </p>
      </mat-card-content>
  
      <mat-card-actions class="card-actions">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Action</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changeLeaveStatus(leave.id, 'Approve')">Approve</button>
          <button mat-menu-item (click)="changeLeaveStatus(leave.id, 'Reject')">Reject</button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </div>
  
  