/* Base styles */
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60vh; */
  }
  
  .child {
    width: 100%;
    max-width: 400px;
  }
  
  .form-title {
    margin-left: 10%; /* Adjust as needed */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    width: 100%;
  }
  .login-form input{
  border-radius: 4px;
  width: 381px;
  height: 40px;
  }
  button {
    width: 100%;
    padding: 10px 20px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .parent {
      padding: 0 10px;
    }
  
    .child {
      max-width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .child {
      max-width: 600px; /* Adjust as needed */
    }
  }
  