<!-- <div>
<div class="example-container">
    <form class="login-form" [formGroup]="loginForm">
    <mat-form-field class="form-field">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"        
        required
      />
      
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">This is required</mat-error>
      
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="password"
          formControlName="password"        
          required
        />
         
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">This is required</mat-error>
        
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Login</button>
 </form>
</div>

</div> -->

<div class="loginContent">
  
<form class="login-form login" [formGroup]="loginForm">  
 
  <h1>Login Here !!</h1>
 
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    <!-- <mat-error *ngIf="loginForm.get('password')?.hasError('required')">This is required</mat-error> -->
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
    <!-- <mat-error *ngIf="loginForm.get('password')?.hasError('required')">This is required</mat-error> -->
  </div>
<div class="container">
  <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="loginForm.invalid">Login</button>
</div>
</form>
</div>