.login{
    padding: 10px;
    width: 350px;
    margin:auto;
    margin-top: 80px;      
    
}

.loginContent{
    padding: 10px;
    background-color: aliceblue;
    height:100vh;
    
}
h1{
    text-align: center;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}