<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px"> 
    <mat-card class="student-card" *ngFor="let leave of leaves">         
        <mat-card-header>
            <mat-card-title>Leave Details</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
            <p><strong>Subject:</strong> {{leave.subject}}</p>
            <p><strong>Body:</strong> {{leave.body}}</p>
            <p><strong>Date:</strong> {{leave.date | date:'MMM d, y'}}</p>
            <p>
                <strong>Status:</strong> 
                <span class="status" [ngStyle]="{'color': leave.studentLeaveStatus === 'APPROVED' ? 'green' : leave.studentLeaveStatus === 'DISAPPROVED' ? 'red' : 'orange'}">
                    {{leave.studentLeaveStatus}}
                </span>
            </p>
        </mat-card-content>
    </mat-card>
</div>
